<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ticket.checker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".AppTicketChecker"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".ActivityLogin"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityMenu" />
        <activity
            android:name=".ActivityScan"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ActivityStatistics" />
        <activity
            android:name=".ActivityControlPanel"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".admin.tickets.ActivityTicketDetails" />
        <activity android:name=".admin.members.ActivityOrganizationMemberDetails" />
        <activity android:name=".dialogs.DialogInvitations" />
        <activity android:name=".ActivityProfile" />
        <activity android:name=".ActivityOrganizationDetails" />
        <activity android:name=".dialogs.DialogCreateOrganization" />
        <activity android:name=".ActivityOrganizations" />
        <activity android:name=".ActivityRegister" />
        <activity android:name=".ActivityAccountActivation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="account-activation"
                    android:scheme="ticheck" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ticheck.elementum.ro"
                    android:scheme="http"
                    android:pathPrefix="/account-activation/"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ticheck.elementum.ro"
                    android:scheme="https"
                    android:pathPrefix="/account-activation/"/>
            </intent-filter>
        </activity>
        <activity android:name=".ActivityJoinOrganization">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="join-organization"
                    android:scheme="ticheck" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ticheck.elementum.ro"
                    android:scheme="http"
                    android:pathPrefix="/join-organization/"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ticheck.elementum.ro"
                    android:scheme="https"
                    android:pathPrefix="/join-organization/"/>
            </intent-filter>
        </activity>
    </application>

</manifest>